%% -*- erlang -*-

{deps, [

    % commons
    {genlib   , ".*" , {git, "https://github.com/platbox/genlib.git"    , "master"}},
    {hackney  , ".*" , {git, "https://github.com/benoitc/hackney.git"   , "master"}},

    % optional dependencies
    {lager    , ".*" , {git, "git://github.com/basho/lager.git"         , "master"}},
    {jiffy    , ".*" , {git, "git://github.com/davisp/jiffy.git"        , "master"}},
    {gen_smtp , ".*" , {git, "https://github.com/Vagabond/gen_smtp.git" , "master"}}

]}.

{erl_opts, [
    debug_info,
    warn_missing_spec,
    bin_opt_info
]}.
