%% -*- erlang -*-

{deps, [

    % commons
    {genlib    , {git, "https://github.com/platbox/genlib.git", {branch, "master"}}},
    {jiffy     , {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
    {cowboy    , {git, "git://github.com/ninenines/cowboy.git", {branch, "1.0.x"}}},
    hackney    ,
    bbmustache ,

    % optional dependencies
    lager      ,
    gen_smtp

]}.

{overrides, [{override, jiffy, [
    {so_name, "jiffy.so"},
    {plugins, [pc]},
    {provider_hooks,
        [
            {pre, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]
    }
]}]}.

{erl_opts, [
    debug_info,
    warn_missing_spec,
    bin_opt_info
]}.
