%% -*- erlang -*-

{deps, [

    % commons
    {genlib    , {git, "https://github.com/platbox/genlib.git"    , {branch, "master"}}},
    hackney    ,
    bbmustache ,

    % optional dependencies
    {jiffy     , {git, "git://github.com/davisp/jiffy.git"        , {branch, "master"}}},
    lager,
    gen_smtp

]}.

{erl_opts, [
    debug_info,
    warn_missing_spec,
    bin_opt_info
]}.
